.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--inverted-primary-color);
    padding: 10px 15px;
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: initial;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.small {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-size-m);
}

.medium {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-size-l);
}

.large {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.maxContent {
    width: max-content;
    height: max-content;
}

.square {
    padding: 0;
}

.square.small {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-size-m);
}

.square.medium {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-size-l);
}

.square.large {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.disabled {
    opacity: 0.5;
}

