.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);;
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
    position: relative;

    .links {
        margin-left: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .link {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            .icon {
                fill: var(--primary-color);
            }

            .linkTitle {
                opacity: 1;
            }
        }
    }
}

.switchers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.lang {
    margin-left: 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .links {
        .link {
            flex-direction: column;
            margin-bottom: 0;
            gap: 0;

            .linkTitle {
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
    }
}

.sidebarBtn {
    position: absolute;
    bottom: 20px;
    right: -32px;
}
