:root,
.app.dark {
    --bg-color: #000049;
    --inverted-bg-color: lightgray;
    --primary-color: #C62828;
    --secondary-color: #3d3a3a;
    --inverted-primary-color: #151313;
    --inverted-secondary-color: #988888;
}
