:root,
.app.light {
    --bg-color: lightgray;
    --inverted-bg-color: #000049;
    --primary-color: #f5f4f4;
    --secondary-color: #989393;
    --inverted-primary-color: white;
    --inverted-secondary-color: #7e7e7e;
}
