.app.light {
    --bg-color: lightgray;
    --inverted-bg-color: #000049;
    --primary-color: #151313;
    --secondary-color: #333232;
    --inverted-primary-color: white;
    --inverted-secondary-color: #7e7e7e;
}
